.mkt-page {

  .mkt-panel {
    height: 500px;
    padding: 100px 0;

    h1 {
      color: #4f5359;
      font-size: 48px;
    }

    p {
      font-size: 18px;
      padding: 0 130px;
      color: #626872;
    }
  }

}
