.admin-home {

  label {
    margin: 0;
  }

  .insert-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .partner-item {
    min-height: 57px;

    label {
      padding: 7px 0;
    }
  }

}
